<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.6" id = "com.nitobi.johngarrett" version = "1.6">

<name>Mesto</name>

<description>
        Intracting people.
</description>

  <icon src="img/one.png" width="72" height="72" />
  <icon src="img/one.png" width="48" height="48" />
  <icon src="img/one.png" width="36" height="36" />

  <gap:splash src="img/garrett_cropped2.png" />
    
    <preference name="orientation" value="portrait" />
</widget>	