
#tabbed_box_1 {
    margin: -14px auto;
    width: 100%;
}

ul.tabs1 li a.active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #E1E5FF #E1E5FF #FFFFFF;
    border-style: solid;
    border-width: 8px;
    color: #282E32;
    position: relative;
    top: -1px;
}
.km-ios .km-buttongroup .km-button {
    background-image: -moz-linear-gradient(center top , #5A2B71, #5A2B71 0%, #5A2B71);
    border-color: rgba(0, 0, 0, 0.4);
    border-right-width: 0;
    color: #FFFFFF;
}
.km-ios .km-buttongroup .km-state-active {
    background-color: #5A2B71;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.3), transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.25));
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px 0 0 5px;
    border-width: 1px 0 1px 1px;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.6) inset;
    color: #FFFFFF;
    text-shadow: none;
}
ul.tabs1 li a {
    box-shadow: 0 1px 1px 1px #FFFFFF inset;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.tabs1 li a {
    background-color: #E1E5FF;
    background-image: url("images/tab_off.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    font-weight: bold;
    padding: 9px 21px;
    text-decoration: none;
    text-transform: uppercase;
}
ul.tabs li a {
    box-shadow: 0 1px 1px 1px #FFFFFF inset;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    font-weight: bold;
    padding: 6px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.tabs li a {
    background-color: #E1E5FF;
    background-image: url("images/tab_off.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8px;
    font-weight: bold;
    padding: 9px 21px;
    text-decoration: none;
    text-transform: uppercase;
}
.tabbed_box h4 {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 23px;
    letter-spacing: -1px;
    margin-bottom: 10px;
}
.tabbed_box h4 small {
    color: #E3E9EC;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    font-weight: normal;
    left: 6px;
    letter-spacing: 0;
    position: relative;
    text-transform: uppercase;
    top: -4px;
}
ul.tabs1 {
    margin: 5px 0 6px;
    padding: 0;
}
ul.tabs1 li {
    display: inline;
    list-style: none outside none;
}

ul.tabs {
    margin: 5px 0 6px;
    padding: 0;
}
ul.tabs li {
    display: inline;
    list-style: none outside none;
}

ul.tabs li a.active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-position: center top;
    background-repeat: repeat-x;
    border-color: #E1E5FF #E1E5FF #FFFFFF;
    border-style: solid;
    border-width: 8px;
    color: #282E32;
    position: relative;
    top: -1px;
}

.tabbed_area {
    background-color: #E1E5FF;
    float: right;
    margin-top: 0;
    padding: 9px;
    position: relative;
    right: -13px;
    top: -79px;
    width: 101%;
}
.content {
    background-color: #FFFFFF;
    background-image: url("images/content_bottom.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
    font-family: Arial,Helvetica,sans-serif;
    margin: -7px;
    padding: 0;
    position: relative;
    top: 10px;
    width: 103%;
}


#content_2, #content_3 {
    display: none;
}
.content ul {
    margin: 0;
    padding: 0 20px;
}
.content ul li {
    border-bottom: 1px solid #D6DDE0;
    font-size: 13px;
    list-style: none outside none;
    padding-bottom: 15px;
    padding-top: 15px;
}
.content ul li:last-child {
    border-bottom: medium none;
}
.content ul li a {
    color: #3E4346;
    text-decoration: none;
}
.content ul li a small {
    color: #8B959C;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    left: 4px;
    position: relative;
    text-transform: uppercase;
    top: 0;
}
.content ul li a:hover {
    color: #A59C83;
}
.content ul li a:hover small {
    color: #BAAE8E;
}